<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .homepage{
            float: left;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<form class="homepage" action="/journal/homepage" method="get">
    <label for="onHomepage">
        <input type="submit" id="onHomepage" value="На головну">
    </label>
</form>
<form class="out" action="/journal/logout" method="get">
    <label for="outHomepage">
        <input type="submit" id="outHomepage" value="Вийти">
    </label>
</form>
<form action="/journal/get/by" method="get">
    <h1>Пошук обєктів</h1>
    <label>
        <input class="inpNum" type="number" name="etc" placeholder="№-наряду або №-ТП">
    </label>
    <label>
        <input class="inpNum" type="date" name="etc_date">
    </label>
    <label>
        <input class="inpNum" type="text" name="etc_name" placeholder="імя і фамілія майстра">
    </label>
    <button type="submit" id="navbar-toggle-button">Search</button>
    <table style=" width: 1320px; border: 1px solid black;">
        <thead style="background: lightskyblue;">
        <tr style="border: 1px solid black">
            <th>№ п/п</th>
            <th>Номер наряда</th>
            <th>Дата виконання</th>
            <th>Диспетчерський номер ТП</th>
            <th>Опис роботи</th>
            <th>Виконавець</th>
            <th>Видалити</th>
        </tr>
        </thead>
        <tr th:each="el : ${list}">
            <td>*</td>
            <td class="td" th:text="${el.getNumberOutfit()}"></td>
            <td class="td" th:text="${el.getDate()}"></td>
            <td class="td" th:text="${el.getDispatcherNameEts()}"></td>
            <td class="td" th:text="${el.getJobDescription()}"></td>
            <td class="td" th:text="${el.getPerformer()}"></td>
            <td>
                <form action="/journal/get/by" method="get">
                    <input type="hidden" th:value="${el.getId()}" name="id_del">
                    <input id="delByNumber" type="submit" value="УДАЛИТЬ">
                </form>
            </td>
        </tr>
        <tr th:each="el_date : ${list_date}">
            <td class="td" th:text="${el_date.getId()}"></td>
            <td class="td" th:text="${el_date.getNumberOutfit()}"></td>
            <td class="td" th:text="${el_date.getDate()}"></td>
            <td class="td" th:text="${el_date.getDispatcherNameEts()}"></td>
            <td class="td" th:text="${el_date.getJobDescription()}"></td>
            <td class="td" th:text="${el_date.getPerformer()}"></td>
            <td>
                <form action="/journal/get/by" method="get">
                    <input type="hidden" th:value="${el_date.getId()}" name="id_del">
                    <input id="delByDate" type="submit" value="УДАЛИТЬ">
                </form>
            </td>

        </tr>
        <tr th:each="el_name : ${list_name}">
            <td>*</td>
            <td class="td" th:text="${el_name.getNumberOutfit()}"></td>
            <td class="td" th:text="${el_name.getDate()}"></td>
            <td class="td" th:text="${el_name.getDispatcherNameEts()}"></td>
            <td class="td" th:text="${el_name.getJobDescription()}"></td>
            <td class="td" th:text="${el_name.getPerformer()}"></td>
            <td>
                <form action="/journal/get/by" method="get">
                    <input type="hidden" th:value="${el_name.getId()}" name="id_del">
                    <input id="delByName" type="submit" value="УДАЛИТЬ">
                </form>
            </td>
        </tr>
    </table>
</form>
</body>
</html>