<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/journal/homepage" method="get">
    <label for="onHomepage">
        <input type="submit" id="onHomepage" value="На головну">
    </label>
</form>
<form action="/journal/get/by" method="get">
    <h1>Пошук обєктів</h1>
    <label>
        <input class="inpNum" type="number" name="etc">
    </label>
    <label>
        <input class="inpNum" type="date" name="etc_data">
    </label>
    <button type="submit" id="navbar-toggle-button">Search</button>
    <table style=" width: 1320px; border: 1px solid black;">
        <thead style="background: lightskyblue;">
        <tr style="border: 1px solid black">
            <th>№ п/п</th>
            <th>Номер наряда</th>
            <th>Дата виконання</th>
            <th>Диспетчерський номер ТП</th>
            <th>Опис роботи</th>
            <th>Виконавець</th>
        </tr>
        </thead>
        <tr th:each="el : ${list}">
            <td>*</td>
            <td class="td" th:text="${el.getNumberOutfit()}"></td>
            <td class="td" th:text="${el.getDate()}"></td>
            <td class="td" th:text="${el.getDispatcherNameEts()}"></td>
            <td class="td" th:text="${el.getJobDescription()}"></td>
            <td class="td" th:text="${el.getPerformer()}"></td>
        </tr>
    </table>
</form>
</body>
</html>