<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>

    <style>
        #panel_control{
            width: 97%;
            height: 40px;
            border: 2px solid darkred;
            padding: 20px 20px 20px 20px;
        }

        #panel_control_but1, #panel_control_but2, #panel_control_but3, #panel_control_but4
        {
            position: relative;
            right:-55%;
            border: none;
            background: none;
            color: black;
            margin-left: 50px;
            float: left;
        }
    </style>
</head>
<body>
<div id="panel_control">
    <form action="/journal/get">
        <input id="panel_control_but1" type="submit" value="Додати запис">
    </form>
    <form action="/journal/edit" method="get">
        <input id="panel_control_but2" type="submit" value="Редагувати">
    </form>
    <form action="/journal/delete">
        <input id="panel_control_but3" type="submit" value="Видалити">
    </form>
    <form action="/journal/get/by">
        <input id="panel_control_but4" type="submit" value="Пошук">
    </form>
    <form action=""></form>
    <form action=""></form>
</div>
</body>
</html>