<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new User from Security</title>
</head>
<body>
<form action="/person/add" method="post">
    <div>
        <label> First name: <input type="text" name="firstName"/> </label></br>
        <label> Last name: <input type="text" name="lastName" value=""/> </label></br>
        <label> Email: <input type="email" name="email"/> </label></br>
        <label> Password: <input type="password" name="password" value=""/></label></br>
        <select name="role" id="roles" style="width: 100px;">
            <option></option>
            <option>USER</option>
            <option>ADMIN</option>
        </select>
        <input type="submit" value="Sign In"/>
    </div>
    <div th:text="${outInfo}"></div>
</form>
</body>
</html>