<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new User from Security</title>
    <style>
        .onHomepage{
            float: left;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<form class="onHomepage" action="/journal/homepage" method="get">
    <label for="onHomepage">
        <input type="submit" id="onHomepage" value="На головну">
    </label>
</form>
<form class="out" action="/journal/logout" method="get">
    <label for="outHomepage">
        <input type="submit" id="outHomepage" value="Вийти">
    </label>
</form></br>
<form action="/person/add" method="post">
    <div>
        <label> Email: <input type="email" name="email"/> </label></br>
        <label> Password: <input type="password" name="password" value=""/></label></br>
        <select name="role" id="roles" style="width: 100px;">
            <option></option>
            <option>USER</option>
            <option>ADMIN</option>
            <option>DIRECTOR</option>
        </select>
        <input type="submit" value="Sign In"/>
    </div>
    <div th:text="${outInfo}"></div>
</form>
</body>
</html>